(
  resources: {},
  entities: {
    4294967346: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (4294967359),
        "bevy_ecs::name::Name": "Repeater",
        "bevy_gearbox::InitialState": (4294967347),
        "bevy_gearbox::StateChildren": ([
          4294967347,
          4294967355,
          4294967356,
        ]),
        "bevy_gearbox::StateMachine": ([
          4294967347,
        ]),
        "bevy_gearbox::active::Active": (),
        "bevy_gearbox_editor::reflectable::ReflectableStateMachinePersistentData": (
          nodes: {
            4294967355: (
              position: (513.0, 166.0),
              node_type: Leaf,
            ),
            4294967347: (
              position: (248.0, 164.0),
              node_type: Leaf,
            ),
            4294967356: (
              position: (759.0, 167.0),
              node_type: Leaf,
            ),
            4294967346: (
              position: (200.0, 100.0),
              node_type: Parent,
            ),
          },
          visual_transitions: [
            (
              source_entity: 4294967356,
              edge_entity: 4294967357,
              target_entity: 4294967355,
              event_type: "Always",
              position: (698.7578, 158.17188),
              offset: (5.0, -31.0),
            ),
            (
              source_entity: 4294967355,
              edge_entity: 4294967358,
              target_entity: 4294967356,
              event_type: "OnRepeat",
              position: (692.7578, 227.17188),
              offset: (-1.0, 38.0),
            ),
            (
              source_entity: 4294967347,
              edge_entity: 8589934649,
              target_entity: 4294967355,
              event_type: "CastAbility",
              position: (426.51563, 152.17188),
              offset: (-6.0, -35.5),
            ),
            (
              source_entity: 4294967355,
              edge_entity: 8589934650,
              target_entity: 4294967347,
              event_type: "OnComplete",
              position: (430.51563, 219.67188),
              offset: (-2.0, 32.0),
            ),
          ],
        ),
        "repeater::AbilityMachine": (),
      },
    ),
    4294967347: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (4294967359),
        "bevy_ecs::name::Name": "Ready",
        "bevy_gearbox::StateChildOf": (4294967346),
        "bevy_gearbox::active::Active": (),
        "bevy_gearbox::transitions::Transitions": ([
          8589934649,
        ]),
      },
    ),
    4294967355: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (4294967345),
        "bevy_ecs::name::Name": "Repeat",
        "bevy_gearbox::StateChildOf": (4294967346),
        "bevy_gearbox::active::Inactive": (),
        "bevy_gearbox::transitions::Transitions": ([
          4294967358,
          8589934650,
        ]),
        "repeater::Repeater": (
          remaining: 5,
          initial: 5,
        ),
      },
    ),
    4294967356: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (4294967345),
        "bevy_ecs::name::Name": "WaitOneSecond",
        "bevy_gearbox::StateChildOf": (4294967346),
        "bevy_gearbox::active::Inactive": (),
        "bevy_gearbox::transitions::Transitions": ([
          4294967357,
        ]),
      },
    ),
    4294967357: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (4294967345),
        "bevy_gearbox::transitions::After": (
          duration: (
            secs: 1,
            nanos: 0,
          ),
        ),
        "bevy_gearbox::transitions::AlwaysEdge": (),
        "bevy_gearbox::transitions::Source": (4294967356),
        "bevy_gearbox::transitions::Target": (4294967355),
        "bevy_gearbox::transitions::TransitionKind": External,
      },
    ),
    4294967358: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (4294967345),
        "bevy_gearbox::transitions::Source": (4294967355),
        "bevy_gearbox::transitions::Target": (4294967356),
        "bevy_gearbox::transitions::TransitionKind": External,
        "bevy_gearbox::transitions::TransitionListener<repeater::OnRepeat>": (),
      },
    ),
    8589934649: (
      components: {
        "bevy_gearbox::transitions::Source": (4294967347),
        "bevy_gearbox::transitions::Target": (4294967355),
        "bevy_gearbox::transitions::TransitionKind": External,
        "bevy_gearbox::transitions::TransitionListener<repeater::CastAbility>": (),
      },
    ),
    8589934650: (
      components: {
        "bevy_gearbox::transitions::Source": (4294967355),
        "bevy_gearbox::transitions::Target": (4294967347),
        "bevy_gearbox::transitions::TransitionKind": External,
        "bevy_gearbox::transitions::TransitionListener<repeater::OnComplete>": (),
        "bevy_gearbox::transitions::ResetEdge": (Source),
      },
    ),
  },
)