(
  resources: {},
  entities: {
    4294967296: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (4294967298),
        "bevy_ecs::name::Name": "Ready",
        "bevy_gearbox::transition_listener::TransitionListener<repeater::CastAbility>": (
          connection: (
            target: 4294967297,
            guards: None,
          ),
        ),
        "bevy_gearbox_editor::components::EntityNode": (),
        "bevy_gearbox_editor::components::GraphNode": (
          position: (100.0, 100.0),
          size: (200.0, 100.0),
          expanded: false,
        ),
      },
    ),
    4294967297: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (4294967298),
        "bevy_ecs::name::Name": "Repeating",
        "bevy_gearbox::transition_listener::TransitionListener<repeater::OnComplete>": (
          connection: (
            target: 4294967296,
            guards: None,
          ),
        ),
        "repeater::Repeater": (
          timer: (
            stopwatch: (
              elapsed: (
                secs: 0,
                nanos: 0,
              ),
              is_paused: false,
            ),
            duration: (
              secs: 1,
              nanos: 0,
            ),
            mode: Repeating,
            finished: false,
            times_finished_this_tick: 0,
          ),
          remaining: 5,
        ),
        "bevy_gearbox_editor::components::EntityNode": (),
        "bevy_gearbox_editor::components::GraphNode": (
          position: (350.0, 100.0),
          size: (200.0, 100.0),
          expanded: false,
        ),
      },
    ),
    4294967298: (
      components: {
        "bevy_ecs::hierarchy::Children": ([
          4294967296,
          4294967297,
        ]),
        "bevy_ecs::name::Name": "AbilityStateMachine",
        "bevy_gearbox::CurrentState": ([]),
        "bevy_gearbox::InitialState": (4294967296),
        "bevy_gearbox::transition_listener::TransitionListener<bevy_gearbox::InitializeMachine>": (
          connection: (
            target: 4294967296,
            guards: None,
          ),
        ),
        "repeater::AbilityMachine": (),
        "bevy_gearbox::StateMachineRoot": (),
        "bevy_gearbox_editor::components::EntityNode": (),
        "bevy_gearbox_editor::components::GraphNode": (
          position: (600.0, 100.0),
          size: (200.0, 100.0),
          expanded: false,
        ),
      },
    ),
  },
)