(
  resources: {},
  entities: {
    4294967327: (
      components: {
        "bevy_gearbox::StateChildren": ([
          4294967328,
          4294967329,
        ]),
        "bevy_ecs::name::Name": "RepeaterTest",
        "bevy_gearbox::InitialState": (4294967328),
        "bevy_gearbox::CurrentState": ([]),
        "bevy_gearbox::StateMachineRoot": (),
        "bevy_gearbox_editor::reflectable::ReflectableStateMachinePersistentData": (
          nodes: {
            4294967329: (
              position: (608.0, 156.0),
              node_type: Leaf,
            ),
            4294967327: (
              position: (200.0, 100.0),
              node_type: Parent,
            ),
            4294967328: (
              position: (250.0, 150.0),
              node_type: Leaf,
            ),
          },
          visual_transitions: [
            (
              source_entity: 4294967328,
              edge_entity: 4294967330,
              target_entity: 4294967329,
              event_type: "CastAbility",
              position: (428.26563, 155.5),
              offset: (-57.0, -20.0),
            ),
            (
              source_entity: 4294967329,
              edge_entity: 4294967331,
              target_entity: 4294967328,
              event_type: "OnComplete",
              position: (532.2656, 199.5),
              offset: (47.0, 24.0),
            ),
          ],
        ),
        "repeater::AbilityMachine": (),
      },
    ),
    4294967328: (
      components: {
        "bevy_gearbox::StateChildOf": (4294967327),
        "bevy_ecs::name::Name": "Ready",
        "bevy_gearbox::transitions::Transitions": ([
          4294967330
        ]),
      },
    ),
    4294967329: (
      components: {
        "bevy_gearbox::StateChildOf": (4294967327),
        "bevy_ecs::name::Name": "Repeating",
        "repeater::Repeater": (
          timer: (
            stopwatch: (
              elapsed: (
                secs: 0,
                nanos: 0,
              ),
              is_paused: false,
            ),
            duration: (
              secs: 1,
              nanos: 0,
            ),
            mode: Repeating,
            finished: false,
            times_finished_this_tick: 0,
          ),
          remaining: 5,
        ),
        "bevy_gearbox::transitions::Transitions": ([
          4294967331
        ]),
      },
    ),
    4294967330: (
      components: {
        "bevy_ecs::name::Name": "Edge Ready -> Repeating (CastAbility)",
        "bevy_gearbox::transitions::Source": (4294967328),
        "bevy_gearbox::transitions::Target": (4294967329),
        "bevy_gearbox::transitions::TransitionKind": External,
        "bevy_gearbox::transitions::TransitionListener<repeater::CastAbility>": (),
      },
    ),
    4294967331: (
      components: {
        "bevy_ecs::name::Name": "Edge Repeating -> Ready (OnComplete)",
        "bevy_gearbox::transitions::Source": (4294967329),
        "bevy_gearbox::transitions::Target": (4294967328),
        "bevy_gearbox::transitions::TransitionKind": External,
        "bevy_gearbox::transitions::TransitionListener<repeater::OnComplete>": (),
      },
    ),
  },
)